body {
    background-color: #1F2937;
}

.section-header {
    font-size: 2rem;
    color: #60A5FA;
    margin-bottom: 2rem;
    text-align: center;
}

.chart-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #2D3748;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #2D3748;
    color: #d2d2d2;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #60A5FA;
    border-radius: 4px;
}